tbody > tr:nth-child(odd) {
    background-color: #c7c7c7;
}

tbody > tr:nth-child(even) {
    background-color: #bad9cb;
}

tbody > tr:hover {
    background-color: whitesmoke;
}


.example-pagination-block + .example-pagination-block {
    margin-top: 10px;
}

.example-pagination-block .example-demonstration {
    margin-bottom: 16px;
}

th {
    text-align: center
}
td {
    text-align: center
}